﻿@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~nprogress/css/nprogress.css';

[v-cloak] {
    display: none;
}

[v-cloak]::before {
    content: "Loading, Please wait.";
}

.border-sides {
    border-right: 1px solid #4E5D6C !important;
    border-left: 1px solid #4E5D6C !important;
    border-bottom: 1px solid #4E5D6C !important;
}
