﻿@import '../_Core/core.css';

.main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 1s;
}

.main-loaded {
    opacity: 1;
}

.label-small-bold {
    font-size: small;
    font-weight: bold;
    margin-bottom:0px;
}
.label-small-lighter {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 0px;
}