@{
    var appName = "DAVM";
    var title = !string.IsNullOrWhiteSpace(ViewBag.Title) ? $"{ViewBag.Title} - " : "";
    title += appName;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="apple-touch-icon" href="/img/192x192.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />

    <script defer src="/app/vendor.bootstrap-vue-4b46f0958b543180686c.js"></script><script defer src="/app/vendor.moment-d19243032f831e313a51.js"></script><script defer src="/app/vendor.axios-138de963c08898c070fc.js"></script><script defer src="/app/vendor.nprogress-cef3a6e0029c56659462.js"></script><script defer src="/app/vendor.bootstrap-dbc147d42ef6663798cf.js"></script><script defer src="/app/vendor.vue-loader-36287ca1802bc871a5b2.js"></script><script defer src="/app/vendor.vue-050ddf23d2b682f859c0.js"></script><script defer src="/app/vendor.vue-observe-visibility-9c3b7c7e8df9facac56b.js"></script><script defer src="/app/vendor.vue-moment-4f78c7473fdea101aeb7.js"></script><script defer src="/app/vendor.vue-functional-data-merge-3c28656a5f743d02456f.js"></script><script defer src="/app/vendor.portal-vue-6b1626dc5057bf5c140b.js"></script><script defer src="/app/vendor.popper.js-af82b594bb75976d48c2.js"></script><script defer src="/app/vendor.jquery-2d4a4579f42ba408e020.js"></script><script defer src="/app/main-d1a27dc64ba46715eeae.js"></script><link href="/app/vendor.bootstrap-vue-82a4769f82d74f312a55.css" rel="stylesheet"><link href="/app/vendor.nprogress-5b2d7963d395a2a0ac02.css" rel="stylesheet"><link href="/app/vendor.bootstrap-2fba7b399da7ae967383.css" rel="stylesheet"><link href="/app/main-92af8dd53e83ebadf234.css" rel="stylesheet">
</head>
<body id="top">
    <div id="main">
        <script id="app" type="text/html">
            <div>
                <app-bar :appName="appName" :menus="menus"></app-bar>
                <main class="container-lg main">
                    @RenderBody()
                </main>
            </div>
        </script>
        <app app-name="@appName"></app>
    </div>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
